<h1>Feed</h1>
{% block content %}
    {% if user.is_authenticated %}
    <a href="/posts">Create a Post</a></li>
        {% if tweets %}
            <ul class="posts">
            {% for post in tweets %}
                    <hr>
                    {% if post.description %}
                            {{ post.user }}
                            {{ post.description }}
                            {{ post.time }}
                    {% endif %}
                    <br>
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-posts">No posts.</p>
    {% endif %}
    {% else %} 
        <meta http-equiv="REFRESH" content="0;url=./login">
    {% endif %}
{% endblock %}
<a href="/logout">Logout</a>